conda.enabled = true
docker.enabled = false

params { 
    // PRE-DOWNLOAD
    // get metadata for runs:
    // user must provide sra_query (string), genome_length (float), taxid (int)
    coverage_threshold = 30 // also used in MAIN. e.g. 30x coverage of the taxid required in a run in order to pass inspection

    // predict environmental sources on pysradb metadata
    model_dir = "../models/v20" // two models are provided: v20 is the more conservative ones (assigns fewer labels), while v19 assigns more labels but is more likely to predict false positives

    // MAIN
    predownload_outputs = "./results/metadata/" // assumes the user's predownload outputs go into the Nextflow default output dir, which is 'results'
    // for predownload_outputs, use either an absolute path to the 'metadata' dir in the predownload output dir, or relative to main.nf

    // download and sort runs:
    // user must provide run_ids (path)
    read_length_threshold = 500 // for sorting into short vs long reads

    // fastp and re-filtering:
    // user must provide genome_length (float)
    fastp_additional_short = ""
    fastp_additional_long = ""

    // kraken2 and subsequent filtering:
    // user must provide k2db (path) and taxid (int)

    // make GB file with buffer and run breseq:
    // user must provide reference_gb (path) and target_genes (string)
    target_type = "locus_tag"
    buffer_upstream = 900
    buffer_downstream = 900

    breseq_additional = ""

    // set the following to "True" in order to filter these kinds of mutations out of the breseq output
    // save booleans as strings to avoid issues 
    filter_intergenic = "False"
    filter_synonymous = "False"

    // don't need to change the following unless using a model not in v19 or v20
    category_colname = "category_logistic_regression"
    subcategory_colname = "subcategory_logistic_regression"
}

// by default, Nextflow produces an error if you try to overwrite an existing log file
report {
    overwrite = true
}